.page {
    background-image: url("../../images/background.png");
    background-size: cover;       
    background-position: center left;  
    background-repeat: no-repeat;  
    width: 100%;
    min-height: 100vh;            
    display: flex;          
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow-x: hidden;
  }

  .nutsInformation {
    text-align: center;
    color: #fff;
  }

.nutsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.page {
    background-image: url("../../images/background.png");
    background-size: cover;       
    background-position: center left;  
    background-repeat: no-repeat;  
    width: 100%;
    min-height: 100vh;            
    display: flex;          
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  .nutsInformation p{
    font-size: 1rem;
  }

  .nutsInformation h1 {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
  }

.nutsCards {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1440px){
  .page {
    padding-top: 4rem;
  }

  .nutsInformation h1 {
    font-size: 3rem;
    margin: 1rem 1rem;
  }
}

@media (max-width: 375.98px){
  .nutsInformation p {
    font-size: 1rem;
    margin: 1rem 1rem;
  }
}