.page {
    background-image: url("../../images/background.png");
    background-size: cover;       
    background-position: center left;  
    background-repeat: no-repeat;  
    width: 100%;
    min-height: 100vh;            
    display: flex;          
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  .nutsInformation {
    text-align: center;
    color: #fff;
  }

  
  .nutsInformation h1 {
    font-size: 2rem;
  }

.nutsCards {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  width: 100vw;
  gap: 0.5rem;
}


@media (max-width: 1440px){

  .page {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  .nutsInformation h1 {
    font-size: 2.3rem;
  }

  .nutsInformation p {
    font-size: 0.7rem;
  }
}

@media (max-width: 1024px){

  .page {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .nutsInformation h1 {
    font-size: 2.3rem;
  }

  .nutsInformation p {
    font-size: 0.7rem;
  }
}





